
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0e8e8;
}

.container {
  width: fit-content;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #000000;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #007bb5;
}

Link {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #3498db;
  text-decoration: none;
}

Link:hover {
  color: #005b8b;
}
