div {
  margin: 20px;
}

h2 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

thead {
  background-color: #7d2180;
  color: #0f0e0e;
}
tbody tr {
  background-color: #ffffff; 
}
tbody tr:hover {
  background-color: #195c97; 
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  color: #555;
}


tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
