body {
  margin: 0;
  padding: 0;
  background-color: #333;
  background-size: cover; 
  background-position: center; 
  font-family: 'Arial', sans-serif; 
}
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  border: 2px solid #3a3d40;
  border-radius: 1rem;
  margin: 10px;
  padding: 15px;
  /* box-shadow: 20px 20px 20px rgba(110, 50, 169, 0.2); */
  transition: transform 0.3s ease;
  width: fit-content;
  box-sizing: border-box;
}

li:hover {
  transform: scale(1.1);
  background-color: #dad7d7;
}

p {
  margin: 8px 0;
  font-size: 16px;
  color: #ffffff;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 60%;
  align-self: center;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

input {
  padding: 10px;
  margin-right: 10px;
  font-size: 14px;
}

#link {
  color: #007bff;
  cursor: pointer;
  transition: color 0.3s ease;
}

#link:hover {
  color: #0056b3;
  text-decoration: underline;
}
h2 {
  font-size: 28px;
  color: #ff4500;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 10px;
  background: linear-gradient(45deg, #3498db, #8e44ad); 
  color: #fff; 
  box-shadow: 0 4px 8px rgba(208, 107, 210, 0.2); 
  background-attachment:fixed; 

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

  transition: background 0.3s ease;
}

h2:hover {
  background: linear-gradient(45deg, #8e44ad, #3498db);
}

.bug-item {
  box-shadow: 20px 20px 20px rgba(110, 50, 169, 0.2);  transition: box-shadow 0.3s ease; 
}

.bug-item:hover {
  box-shadow: 20px 20px 20px rgba(110, 50, 169, 0.2);}



